main {
    width: 100%;
    font-family: Inter;
    display: flex;
    padding-block: 1.25rem;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.email_body {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.email_body h1 {
    font-size: 27px;
    color: #E43955;
}

.welcome_msg {
    line-height: 22px;
    font-size: 14px;
    color: #383838;
    padding-inline: 0.5rem;
}

.get_started {
    border: 1px solid #E43955;
    padding: 3px;
    border-radius: 1rem;
}

.benefits {
    width: 100%;
    display: flex;
    padding-inline: 5%;
    justify-content: space-between;
    color: #323232;
    background-color: #F8F8F8;
    padding-block: 1.25rem;
    list-style: none;
}

.benefits li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 12px;
}

.benefits li img {
    width: 25px;
}

.social_media {
    width: 100%;
    padding-block: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    background-color: #F3F7FF;
}

.social_media h3 {
    color: #91989F;
    font-size: 14px;
}

.social_media ul {
    display: flex;
    gap: 1.25rem;
}

.social_media ul li {
    background-color: white;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer ul {
    color: #969696;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}