@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

.default-bg {
  background-color: #D3344D;
}

.default-color {
  color: #D3344D;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

.iti {
  width: 100%;
}

.iti .iti__selected-dial-code {
  margin-left: 0px !important;
}